<GridLayout rows="20px, 150px, 160px,auto,auto,auto,auto,*" columns="*,50px">
    <StackLayout row="2" col="2" colSpan="2" class="p-x-20">
    </StackLayout>
    <Label text="Project UAS Webtech2" class="h1 p-l-20" row="1" col="0"  colSpan="1" style="color: white; text-align: center;"></Label>
    
    <Label text="Pokemon API" class="h5 Stat-nav p-l-20" row="3" col="0"  style="color: white; " (tap)="onTap('pokemon')"></Label>
    
    <Label text="Digimon API" class="h5 Stat-nav p-l-20" row="4" col="0"  style="color: white; " (tap)="onTap('digimon')"></Label>

    <label text="About page!" class ="h5 Stat-nav p-l-20" row ="1" col="0" style="color: white" (tap)="onTap('About')"></label>
  </GridLayout>
  