.Stat-nav{
    padding-top: 15px;
    background-color: lightblue;
    height: 100px;
    padding-left: 20px;
    color: white;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bolder;
  }
  GridLayout{
      background-color: lightblue;
  }
  .h5{
      font-size: 20px;
  }